:root {
  --background: 60 15.7895% 96.2745%;
  --foreground: 51.4286 11.1111% 13.7255%;
  --card: 0 0% 100%;
  --card-foreground: 51.4286 11.1111% 13.7255%;
  --popover: 0 0% 100%;
  --popover-foreground: 51.4286 11.1111% 13.7255%;
  --primary: 19.0385 100% 40.7843%;
  --primary-foreground: 0 0% 100%;
  --secondary: 50 11.5385% 89.8039%;
  --secondary-foreground: 51.4286 11.1111% 13.7255%;
  --muted: 50.5263 17.4312% 85.6863%;
  --muted-foreground: 44.2105 5.0279% 47.2549%;
  --accent: 54 23.8095% 95.8824%;
  --accent-foreground: 51.4286 11.1111% 13.7255%;
  --destructive: 344.5946 63.7931% 49.8039%;
  --destructive-foreground: 0 0% 100%;
  --border: 50 11.5385% 89.8039%;
  --input: 48 9.0909% 79.6078%;
  --ring: 19.1214 100% 48.0392%;
  --chart-1: 19.1214 100% 48.0392%;
  --chart-2: 156.8182 63.7681% 33.9216%;
  --chart-3: 213.3333 50.8475% 75.2941%;
  --chart-4: 267.2727 42.8571% 76.8627%;
  --chart-5: 34.8611 58.5366% 47.0588%;
  --sidebar: 60 15.7895% 96.2745%;
  --sidebar-foreground: 51.4286 11.1111% 13.7255%;
  --sidebar-primary: 19.1214 100% 48.0392%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 54 23.8095% 95.8824%;
  --sidebar-accent-foreground: 51.4286 11.1111% 13.7255%;
  --sidebar-border: 50 11.5385% 89.8039%;
  --sidebar-ring: 19.1214 100% 48.0392%;
  --timeline-thinking: #dfa88f;
  --timeline-grep: #9fc9a2;
  --timeline-read: #9fbbe0;
  --timeline-edit: #c0a8dd;
  --timeline-done: #c08532;
  --font-sans: Inter, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --radius: 0.5rem;
  --shadow-2xs: none;
  --shadow-xs: none;
  --shadow-sm: none;
  --shadow: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-xl: none;
  --shadow-2xl: none;
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 45 11.1111% 10.5882%;
  --foreground: 54 23.8095% 95.8824%;
  --card: 45 8.5106% 18.4314%;
  --card-foreground: 54 23.8095% 95.8824%;
  --popover: 45 8.5106% 18.4314%;
  --popover-foreground: 54 23.8095% 95.8824%;
  --primary: 19.0385 100% 40.7843%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 8.0645% 24.3137%;
  --secondary-foreground: 54 23.8095% 95.8824%;
  --muted: 42 8.0645% 24.3137%;
  --muted-foreground: 42 7.3171% 67.8431%;
  --accent: 43.6364 7.5342% 14.3137%;
  --accent-foreground: 54 23.8095% 95.8824%;
  --destructive: 344.5946 63.7931% 49.8039%;
  --destructive-foreground: 0 0% 100%;
  --border: 42 8.0645% 24.3137%;
  --input: 42 8.0645% 24.3137%;
  --ring: 19.1214 100% 48.0392%;
  --chart-1: 19.1214 100% 48.0392%;
  --chart-2: 157.0588 39.5349% 66.2745%;
  --chart-3: 213.3333 50.8475% 75.2941%;
  --chart-4: 267.2727 42.8571% 76.8627%;
  --chart-5: 34.8611 58.5366% 47.0588%;
  --sidebar: 45 11.1111% 10.5882%;
  --sidebar-foreground: 54 23.8095% 95.8824%;
  --sidebar-primary: 19.1214 100% 48.0392%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 43.6364 7.5342% 14.3137%;
  --sidebar-accent-foreground: 54 23.8095% 95.8824%;
  --sidebar-border: 42 8.0645% 24.3137%;
  --sidebar-ring: 19.1214 100% 48.0392%;
  --shadow-2xs: none;
  --shadow-xs: none;
  --shadow-sm: none;
  --shadow: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-xl: none;
  --shadow-2xl: none;
}

[data-theme="xlog-default"] {
  --background: 60 15.7895% 96.2745%;
  --foreground: 52.5 11.7647% 13.3333%;
  --card: 0 0% 100%;
  --card-foreground: 52.5 11.7647% 13.3333%;
  --popover: 0 0% 100%;
  --popover-foreground: 52.5 11.7647% 13.3333%;
  --primary: 19.0385 100% 40.7843%;
  --primary-foreground: 0 0% 100%;
  --secondary: 51.4286 17.9487% 92.3529%;
  --secondary-foreground: 52.5 11.7647% 13.3333%;
  --muted: 50 10.7143% 89.0196%;
  --muted-foreground: 47.1429 5.7851% 47.451%;
  --accent: 48 27.7778% 92.9412%;
  --accent-foreground: 52.5 11.7647% 13.3333%;
  --border: 50 10.7143% 89.0196%;
  --input: 49.0909 10.2804% 79.0196%;
  --ring: 19.102 100% 48.0392%;
}

[data-theme="blues"] {
  --background: 214.4681 68.1159% 13.5294%;
  --foreground: 205.7143 100% 95.8824%;
  --card: 213.4426 65.5914% 18.2353%;
  --card-foreground: 205.7143 100% 95.8824%;
  --popover: 213.4426 65.5914% 18.2353%;
  --popover-foreground: 205.7143 100% 95.8824%;
  --primary: 208.4892 64.0553% 57.451%;
  --primary-foreground: 213.1579 73.0769% 10.1961%;
  --secondary: 211.9481 63.6364% 23.7255%;
  --secondary-foreground: 205.7143 100% 95.8824%;
  --muted: 211.9481 63.6364% 23.7255%;
  --muted-foreground: 205.5556 61.3636% 82.7451%;
  --accent: 213.0435 62.1622% 21.7647%;
  --accent-foreground: 205.7143 100% 95.8824%;
  --border: 208.0435 53.4884% 33.7255%;
  --input: 211.9481 63.6364% 23.7255%;
  --ring: 197.1429 83.0508% 76.8627%;
}

[data-theme="marigold"] {
  --background: 40 100% 95.8824%;
  --foreground: 22.5 30.7692% 15.2941%;
  --card: 0 0% 100%;
  --card-foreground: 22.5 30.7692% 15.2941%;
  --popover: 0 0% 100%;
  --popover-foreground: 22.5 30.7692% 15.2941%;
  --primary: 349.7468 66.3866% 46.6667%;
  --primary-foreground: 0 0% 100%;
  --secondary: 40.6452 85.3211% 78.6275%;
  --secondary-foreground: 22.5 30.7692% 15.2941%;
  --muted: 42 65.7895% 85.098%;
  --muted-foreground: 33.3333 31.0345% 34.1176%;
  --accent: 36.9231 100% 92.3529%;
  --accent-foreground: 22.5 30.7692% 15.2941%;
  --border: 40.5634 62.8319% 77.8431%;
  --input: 40.2353 60.2837% 72.3529%;
  --ring: 31.746 91.3043% 59.4118%;
}

[data-theme="aurora"] {
  --background: 260.4545 56.4103% 15.2941%;
  --foreground: 39.2308 100% 94.902%;
  --card: 260.3571 53.8462% 20.3922%;
  --card-foreground: 39.2308 100% 94.902%;
  --popover: 260.3571 53.8462% 20.3922%;
  --popover-foreground: 39.2308 100% 94.902%;
  --primary: 339.7674 69.3548% 51.3725%;
  --primary-foreground: 0 0% 100%;
  --secondary: 264.8571 54.6875% 25.098%;
  --secondary-foreground: 39.2308 100% 94.902%;
  --muted: 264.8571 54.6875% 25.098%;
  --muted-foreground: 279.5122 45.0549% 82.1569%;
  --accent: 265.7143 55.7522% 22.1569%;
  --accent-foreground: 39.2308 100% 94.902%;
  --border: 275.6962 47.8788% 32.3529%;
  --input: 264.8571 54.6875% 25.098%;
  --ring: 38.0899 89% 60.7843%;
}

[data-theme="sunburst"] {
  --background: 40 100% 95.8824%;
  --foreground: 25.2632 25.3333% 14.7059%;
  --card: 0 0% 100%;
  --card-foreground: 25.2632 25.3333% 14.7059%;
  --popover: 0 0% 100%;
  --popover-foreground: 25.2632 25.3333% 14.7059%;
  --primary: 4.3709 60.1594% 49.2157%;
  --primary-foreground: 0 0% 100%;
  --secondary: 43.1707 100% 83.9216%;
  --secondary-foreground: 25.2632 25.3333% 14.7059%;
  --muted: 38.1818 64.7059% 86.6667%;
  --muted-foreground: 30 26.8817% 36.4706%;
  --accent: 40.9756 100% 91.9608%;
  --accent-foreground: 25.2632 25.3333% 14.7059%;
  --border: 38.4375 64% 80.3922%;
  --input: 40.4211 67.3759% 72.3529%;
  --ring: 31.8182 100% 61.1765%;
}

[data-theme="monochrome"] {
  --background: 0 0% 98.0392%;
  --foreground: 0 0% 9.0196%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 9.0196%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 9.0196%;
  --primary: 0 0% 14.902%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 89.8039%;
  --secondary-foreground: 0 0% 9.0196%;
  --muted: 0 0% 89.8039%;
  --muted-foreground: 0 0% 32.1569%;
  --accent: 0 0% 93.3333%;
  --accent-foreground: 0 0% 9.0196%;
  --border: 0 0% 89.8039%;
  --input: 0 0% 83.1373%;
  --ring: 0 0% 9.0196%;
}

[data-theme="mocha"] {
  --background: 240 21.0526% 14.902%;
  --foreground: 9.6 55.5556% 91.1765%;
  --card: 236.8421 16.2393% 22.9412%;
  --card-foreground: 9.6 55.5556% 91.1765%;
  --popover: 236.8421 16.2393% 22.9412%;
  --popover-foreground: 9.6 55.5556% 91.1765%;
  --primary: 267.4074 83.5052% 80.9804%;
  --primary-foreground: 240 21.0526% 14.902%;
  --secondary: 234.2857 13.2075% 31.1765%;
  --secondary-foreground: 9.6 55.5556% 91.1765%;
  --muted: 236.8421 16.2393% 22.9412%;
  --muted-foreground: 226.1538 63.9344% 88.0392%;
  --accent: 234.2857 13.2075% 31.1765%;
  --accent-foreground: 9.6 55.5556% 91.1765%;
  --border: 232.5 12% 39.2157%;
  --input: 234.2857 13.2075% 31.1765%;
  --ring: 267.4074 83.5052% 80.9804%;
}

[data-theme="amoled"] {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 3.1373%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 3.1373%;
  --popover-foreground: 0 0% 100%;
  --primary: 186.1176 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 0% 6.6667%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 6.6667%;
  --muted-foreground: 0 0% 74.902%;
  --accent: 0 0% 6.6667%;
  --accent-foreground: 0 0% 100%;
  --border: 0 0% 12.1569%;
  --input: 0 0% 12.1569%;
  --ring: 186.1176 100% 50%;
}

[data-theme="off-white"] {
  --background: 51.4286 46.6667% 97.0588%;
  --foreground: 42.8571 8.642% 15.8824%;
  --card: 0 0% 100%;
  --card-foreground: 42.8571 8.642% 15.8824%;
  --popover: 0 0% 100%;
  --popover-foreground: 42.8571 8.642% 15.8824%;
  --primary: 34.2857 32.4074% 42.3529%;
  --primary-foreground: 0 0% 100%;
  --secondary: 46.1538 30.2326% 91.5686%;
  --secondary-foreground: 42.8571 8.642% 15.8824%;
  --muted: 46.1538 30.2326% 91.5686%;
  --muted-foreground: 41.0526 9.5477% 39.0196%;
  --accent: 46.1538 30.2326% 91.5686%;
  --accent-foreground: 42.8571 8.642% 15.8824%;
  --border: 37.5 30% 84.3137%;
  --input: 36.7742 27.9279% 78.2353%;
  --ring: 34.2857 32.4074% 42.3529%;
}

[data-theme="dracula"] {
  --background: 231.4286 14.8936% 18.4314%;
  --foreground: 60 30% 96.0784%;
  --card: 230.5263 14.0741% 26.4706%;
  --card-foreground: 60 30% 96.0784%;
  --popover: 230.5263 14.0741% 26.4706%;
  --popover-foreground: 60 30% 96.0784%;
  --primary: 264.7059 89.4737% 77.6471%;
  --primary-foreground: 231.4286 14.8936% 18.4314%;
  --secondary: 231.8182 13.9241% 30.9804%;
  --secondary-foreground: 60 30% 96.0784%;
  --muted: 231.8182 13.9241% 30.9804%;
  --muted-foreground: 232.9412 17.8947% 81.3725%;
  --accent: 231.8182 13.9241% 30.9804%;
  --accent-foreground: 60 30% 96.0784%;
  --border: 232.5 12.2449% 38.4314%;
  --input: 231.8182 13.9241% 30.9804%;
  --ring: 325.5224 100% 73.7255%;
}

[data-theme="mint-grove"] {
  --background: 105 18.1818% 95.6863%;
  --foreground: 169.2308 49.3671% 15.4902%;
  --card: 0 0% 100%;
  --card-foreground: 169.2308 49.3671% 15.4902%;
  --popover: 0 0% 100%;
  --popover-foreground: 169.2308 49.3671% 15.4902%;
  --primary: 168.125 60.7595% 30.9804%;
  --primary-foreground: 0 0% 100%;
  --secondary: 145.2632 37.2549% 90%;
  --secondary-foreground: 169.2308 49.3671% 15.4902%;
  --muted: 137.1429 17.0732% 91.9608%;
  --muted-foreground: 161.6667 20.4545% 34.5098%;
  --accent: 145.7143 38.8889% 92.9412%;
  --accent-foreground: 169.2308 49.3671% 15.4902%;
  --border: 144 33.3333% 85.2941%;
  --input: 148.125 29.0909% 78.4314%;
  --ring: 165.1327 54.5894% 40.5882%;
}

[data-theme="neon-circuit"] {
  --background: 249 27.027% 14.5098%;
  --foreground: 252 100% 97.0588%;
  --card: 249.6 25.7732% 19.0196%;
  --card-foreground: 252 100% 97.0588%;
  --popover: 249.6 25.7732% 19.0196%;
  --popover-foreground: 252 100% 97.0588%;
  --primary: 250.7865 100% 65.098%;
  --primary-foreground: 0 0% 100%;
  --secondary: 213.6364 50.7692% 25.4902%;
  --secondary-foreground: 252 100% 97.0588%;
  --muted: 251.25 27.5862% 22.7451%;
  --muted-foreground: 252 33.8983% 76.8627%;
  --accent: 251.25 27.5862% 22.7451%;
  --accent-foreground: 252 100% 97.0588%;
  --border: 248.7805 21.6931% 37.0588%;
  --input: 251.25 27.5862% 22.7451%;
  --ring: 67.8261 100% 59.4118%;
}

[data-theme="signal"] {
  --background: 211 69.7674% 16.8627%;
  --foreground: 47.2727 100% 93.5294%;
  --card: 210 65.5172% 22.7451%;
  --card-foreground: 47.2727 100% 93.5294%;
  --popover: 210 65.5172% 22.7451%;
  --popover-foreground: 47.2727 100% 93.5294%;
  --primary: 354.5455 62.0968% 48.6275%;
  --primary-foreground: 0 0% 100%;
  --secondary: 208.5714 15.1079% 27.2549%;
  --secondary-foreground: 47.2727 100% 93.5294%;
  --muted: 210.3797 62.2047% 24.902%;
  --muted-foreground: 37.561 80.3922% 70%;
  --accent: 210.3797 62.2047% 24.902%;
  --accent-foreground: 47.2727 100% 93.5294%;
  --border: 207.6923 33.3333% 38.2353%;
  --input: 210.3797 62.2047% 24.902%;
  --ring: 36.5482 98.995% 60.9804%;
}

[data-theme="retro-classic"] {
  --background: 40 31.0345% 94.3137%;
  --foreground: 17.5 52.1739% 9.0196%;
  --card: 0 0% 100%;
  --card-foreground: 17.5 52.1739% 9.0196%;
  --popover: 0 0% 100%;
  --popover-foreground: 17.5 52.1739% 9.0196%;
  --primary: 240.4839 65.9574% 36.8627%;
  --primary-foreground: 0 0% 100%;
  --secondary: 43.2 88.6525% 72.3529%;
  --secondary-foreground: 17.5 52.1739% 9.0196%;
  --muted: 37.8947 35.8491% 89.6078%;
  --muted-foreground: 20.8696 13.7725% 32.7451%;
  --accent: 41.25 100% 90.5882%;
  --accent-foreground: 17.5 52.1739% 9.0196%;
  --border: 43.4483 51.7857% 78.0392%;
  --input: 42.4 47.7707% 69.2157%;
  --ring: 240.4839 65.9574% 36.8627%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
